*{
 margin: 0;
 padding: 0;
 border: 0;
 box-sizing: border-box;
 text-align: justify right;
}
body {
	background: radial-gradient(#E4ABAB, #D86363,  #790909); 
}
header {
	color:white;


}